* {
  background-color: #d0d0e1;
  font-family: arial, helvetica,sans-serif;
  text-decoration: none;
}

.logo {
  border: solid black 15px;
  padding: 5px;
  background-color: red;
  width: 100px;
  height: 60px;
}

.review {
  background-color: white;
  color: black;
  border: none;
  font-size: 16px;
  text-align: left;
  outline: none;
  cursor: none;
  width: 150px;
  height: 75px;
  padding: 10px;
  border-radius: 10px;
}

nav {
  background-color: black;
  text-align: right;
  font-weight: bolder;
  overflow: hidden;
  max-width: 99%;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;;
}

a {
  background-color: black;
  color: #d0d0e1;
  text-decoration: none;
}

.logo-text {
  background-color: black;
  vertical-align: text-top;
}

.nav-links {
  background-color: black;
  float: right;
  margin-right: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.login_links {
  background-color: black;
}

.route_links {
  background-color: black;
  margin-bottom: 20px;
}

.logo_info {
  display: flex;
  flex-direction: column;
}

form {
  font-size: 18px;
  font-weight: bold;
}

input {
  font-size: 18px;
}

.displays {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.display_list {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sneaker_image {
  width: 500px;
  height: 500px;
}

.brand_logo {
  width: 350px;
  height: 300px;
}

.sport_logo {
  width: 350px;
  height: 300px;
}

.sneaker_name {
  background-color: black;
  color: #d0d0e1;
}
