<!DOCTYPE html>
<html>
  <head>
    <title>DietFootLocker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href='/' class="logo-text">Diet Foot Locker</a>
      <ul class ="nav-links">
        <a href = "/login">Sign In</a>
        <a href = "/sneakers">Sneakers</a>
        <a href = "regions.html">Regions</a>
        <a href = "account.html">Account</a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
